*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Gilroy SemiBold;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Gilroy SemiBold";
  src: url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.eot");
  src: url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/000833a3a58fb083c44b9de42c2ff0a2.svg#Gilroy SemiBold")
      format("svg");
}
